<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sqlitefunction20221121161813.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4709ca14-ff04-4df3-a560-bfb23a411366/resourcegroups/BlazorEcommerceStaticWebApp-Experiment/providers/Microsoft.Web/sites/SQLiteFunction20221121161813</ResourceId>
    <UserName>$SQLiteFunction20221121161813</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sqlitefunction20221121161813.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>